<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chelsea</title>
  </head>
  <body>
    <style>
      body {
        background-color: black;
      }
      h1 {
        color: burlywood;
        font-size: 40px;
      }
      h2 {
        color: palevioletred;
        font-size: 30px;
      }
      span {
        color: aquamarine;
        font-size: 25px;
      }
    </style>
    <h1>Name:<span> {name}</span></h1>
    <h2>Address: <span>{address}</span></h2>
    <h2>Player: <span>{players}</span></h2>
    <h2>Contact: <span>{contact}</span></h2>
    <h2>Profiles: <span>{profiles}</span></h2>
  </body>
</html>
