<form method="post" action="">
  <div class="mb-3">
    <label for="email">Email</label>
  </div>
  <div class="mb-3">
    <input type="email" name="email" class="form-control" required />
  </div>
  <button type="submit" class="btn btn-primary">Gửi email reset</button>
</form>
